/* Initialize different fonts */
@font-face {
  font-family: "BoldMonk";
  src: url("assets/font/klavika-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "LightMonk";
  src: url("assets/font/klavika-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "MediumMonk";
  src: url("assets/font/klavika-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "RegularMonk";
  src: url("assets/font/klavika-regular-webfont.woff") format("woff");
}

/* Animation keyframes for loader and text transition */
@keyframes monkBounce {
  from {
    transform: scaleX(1.1);
  }
  to {
    transform: translateY(-20px) scaleX(1);
  }
}

@keyframes textTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-position: 0% -5vh;
  background-repeat: no-repeat;
  height: 108vh;
  overflow: hidden;
  background-color: #1c1b1b;
}

a {
  text-transform: none;
  color: white;
}

/* The styles for initial loader */
#preloader {
  background: black no-repeat center;
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0px;
  font-family: "RegularMonk";
  font-style: italic;
}

#preloader-text {
  position: fixed;
  top: 58%;
  left: 42%;
  transition-timing-function: ease-in;
  transition: 0.5s;
  transform: translateY(130%);
  animation: textTransition 1.5s ease forwards;
}

#preloader-secondText {
  position: fixed;
  top: 62.5%;
  left: 42%;
}

#monkImg {
  position: fixed;
  height: 120px;
  top: 40%;
  left: 45%;
  animation: monkBounce 0.8s alternate infinite;
}

/* The Styles for Media monk logo*/
.wrap {
  position: absolute;
  height: 70px;
  width: 70px;
  padding: 20px;
  right: 0;
  bottom: 0;
}

#logo {
  height: 70px;
  width: auto;
  fill: white;
}

/* The Styles for arrow buttons */
.arrow {
  position: absolute;
  top: 40%;
  cursor: pointer;
  font-family: "LightMonk";
  font-size: 60px;
  background-color: transparent;
  color: white;
  border: 0;
  z-index: 1;
}
.arrow:focus {
  outline: 0;
}
#arrow-left {
  float: left;
}
#arrow-right {
  right: 0;
}

/* The Styles for all texts in webpage */
#main-text {
  font-family: "RegularMonk";
  font-size: 40px;
  width: 350px;
  margin: 1.5% 0 0 1%;
  text-transform: uppercase;
  text-decoration: underline;
}

#sub-text {
  position: absolute;
  bottom: 15%;
  font-family: "MediumMonk";
  font-size: x-small;
  width: 320px;
  margin-left: 20px;
}

#other-text {
  position: absolute;
  font-family: "RegularMonk";
  font-size: 40px;
  width: 350px;
  top: 43%;
  margin-left: 50px;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
}

#last-sub-text-container {
  position: absolute;
  font-family: "RegularMonk";
  font-size: x-small;
  width: 260px;
  top: 45%;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: end;
}

#created-by {
  margin-top: 30%;
  font-size: medium;
}

/* The Styles for navigation bar */
.nav-container {
  position: absolute;
  bottom: 1%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.nav {
  font-family: "LightMonk";
  font-size: 10px;
  height: 17px;
  width: 20px;
  border: 1.4px dotted;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.nav:focus {
  outline: 0;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

#nav-text {
  margin: 2px 0 0 20px;
  font-family: "LightMonk";
  font-size: 11px;
  color: #b7b3b3;
  transition: all 1.5s;
}

/* Media queries for mobile support */
@media screen and (max-width: 560px) {
  .nav-container {
    bottom: 10%;
  }
  #sub-text {
    bottom: 20%;
  }
  .wrap {
    padding: 0px;
  }
  #logo {
    height: 50px;
  }
  #preloader {
    width: 100%;
  }
  #monkImg {
    height: 100px;
    left: 40%;
  }
  #preloader-text {
    left: 30%;
  }

  #preloader-secondText {
    left: 30%;
  }

  #main-text {
    font-size: 30px;
    margin: auto;
    text-align: center;
  }

  #other-text {
    font-size: 30px;
    position: relative;
    margin-left: 20%;
    text-align: center;
    justify-content: center;
    margin-top: -5%;
  }
}
